body{
    margin: 0;
    scroll-behavior: smooth;
}

.heather{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.body{
    background-color: blue;
    width: 10vh;
    height: 10vh;
}